data/
env/
env311/
env313/
received_images/
results/
video_outputs/
videos/
*.log
*.jpg
.lgd-nfy0
dashboard/guidelines/
dashboard/FLASK_BACKEND_SETUP.md
dashboard/ATTRIBUTIONS.md
dashboard/node_modules
password.txt
cameras_config.json
scripts/__pycache__
blue